In [432]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn

In [433]:
data = pd.read_csv("eksikveriler.xls")
data

   ulke  boy  kilo   yas cinsiyet
0    tr  130    30  10.0        e
1    tr  125    36  11.0        e
2    tr  135    34  10.0        k
3    tr  133    30   9.0        k
4    tr  129    38  12.0        e
5    tr  180    90  30.0        e
6    tr  190    80  25.0        e
7    tr  175    90  35.0        e
8    tr  177    60  22.0        k
9    us  185   105  33.0        e
10   us  165    55  27.0        k
11   us  155    50  44.0        k
12   us  160    58   NaN        k
13   us  162    59  41.0        k
14   us  167    62  55.0        k
15   fr  174    70  47.0        e
16   fr  193    90   NaN        e
17   fr  187    80  27.0        e
18   fr  183    88  28.0        e
19   fr  159    40  29.0        k
20   fr  164    66  32.0        k
21   fr  166    56  42.0        k

In [434]:
from sklearn.impute import SimpleImputer

In [435]:
imputer = SimpleImputer(missing_values=np.nan, strategy="mean")

In [436]:
yas = data.iloc[:,1:4].values
print(yas)

[[130.  30.  10.]
 [125.  36.  11.]
 [135.  34.  10.]
 [133.  30.   9.]
 [129.  38.  12.]
 [180.  90.  30.]
 [190.  80.  25.]
 [175.  90.  35.]
 [177.  60.  22.]
 [185. 105.  33.]
 [165.  55.  27.]
 [155.  50.  44.]
 [160.  58.  nan]
 [162.  59.  41.]
 [167.  62.  55.]
 [174.  70.  47.]
 [193.  90.  nan]
 [187.  80.  27.]
 [183.  88.  28.]
 [159.  40.  29.]
 [164.  66.  32.]
 [166.  56.  42.]]

In [437]:
# relocate nan values with mean(average)

imputer = imputer.fit(yas[:,1:4])
yas[:,1:4] = imputer.transform(yas[:,1:4])
print(yas)

[[130.    30.    10.  ]
 [125.    36.    11.  ]
 [135.    34.    10.  ]
 [133.    30.     9.  ]
 [129.    38.    12.  ]
 [180.    90.    30.  ]
 [190.    80.    25.  ]
 [175.    90.    35.  ]
 [177.    60.    22.  ]
 [185.   105.    33.  ]
 [165.    55.    27.  ]
 [155.    50.    44.  ]
 [160.    58.    28.45]
 [162.    59.    41.  ]
 [167.    62.    55.  ]
 [174.    70.    47.  ]
 [193.    90.    28.45]
 [187.    80.    27.  ]
 [183.    88.    28.  ]
 [159.    40.    29.  ]
 [164.    66.    32.  ]
 [166.    56.    42.  ]]

In [438]:
ulke = data.iloc[:,0:1].values

In [439]:
ulke

array([['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr']], dtype=object)

In [440]:
from sklearn import preprocessing

In [441]:
le = preprocessing.LabelEncoder()

In [442]:
ulke[:,0] = le.fit_transform(data.iloc[:,0])
ulke

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0]], dtype=object)

In [443]:
ohe = preprocessing.OneHotEncoder()
ulke = ohe.fit_transform(ulke).toarray()

In [444]:
# from kategoric to numeric data
ulke

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [445]:
sonuc = pd.DataFrame(data=ulke, index=range(22), columns=["fr","tr","us"])

In [446]:
sonuc

     fr   tr   us
0   0.0  1.0  0.0
1   0.0  1.0  0.0
2   0.0  1.0  0.0
3   0.0  1.0  0.0
4   0.0  1.0  0.0
5   0.0  1.0  0.0
6   0.0  1.0  0.0
7   0.0  1.0  0.0
8   0.0  1.0  0.0
9   0.0  0.0  1.0
10  0.0  0.0  1.0
11  0.0  0.0  1.0
12  0.0  0.0  1.0
13  0.0  0.0  1.0
14  0.0  0.0  1.0
15  1.0  0.0  0.0
16  1.0  0.0  0.0
17  1.0  0.0  0.0
18  1.0  0.0  0.0
19  1.0  0.0  0.0
20  1.0  0.0  0.0
21  1.0  0.0  0.0

In [447]:
sonuc2 = pd.DataFrame(data=yas, index = range(22), columns = ["boy","kilo","yas"])

In [448]:
sonuc2

      boy   kilo    yas
0   130.0   30.0  10.00
1   125.0   36.0  11.00
2   135.0   34.0  10.00
3   133.0   30.0   9.00
4   129.0   38.0  12.00
5   180.0   90.0  30.00
6   190.0   80.0  25.00
7   175.0   90.0  35.00
8   177.0   60.0  22.00
9   185.0  105.0  33.00
10  165.0   55.0  27.00
11  155.0   50.0  44.00
12  160.0   58.0  28.45
13  162.0   59.0  41.00
14  167.0   62.0  55.00
15  174.0   70.0  47.00
16  193.0   90.0  28.45
17  187.0   80.0  27.00
18  183.0   88.0  28.00
19  159.0   40.0  29.00
20  164.0   66.0  32.00
21  166.0   56.0  42.00

In [449]:
cinsiyet = data.iloc[:,-1].values
cinsiyet = le.fit_transform(data.iloc[:,-1])
cinsiyet

array([0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1])

In [450]:
sonuc3 = pd.DataFrame(data=cinsiyet, index = range(22), columns= ["cinsiyet"])

In [451]:
s = pd.concat([sonuc,sonuc2], axis=1)

In [452]:
s

     fr   tr   us    boy   kilo    yas
0   0.0  1.0  0.0  130.0   30.0  10.00
1   0.0  1.0  0.0  125.0   36.0  11.00
2   0.0  1.0  0.0  135.0   34.0  10.00
3   0.0  1.0  0.0  133.0   30.0   9.00
4   0.0  1.0  0.0  129.0   38.0  12.00
5   0.0  1.0  0.0  180.0   90.0  30.00
6   0.0  1.0  0.0  190.0   80.0  25.00
7   0.0  1.0  0.0  175.0   90.0  35.00
8   0.0  1.0  0.0  177.0   60.0  22.00
9   0.0  0.0  1.0  185.0  105.0  33.00
10  0.0  0.0  1.0  165.0   55.0  27.00
11  0.0  0.0  1.0  155.0   50.0  44.00
12  0.0  0.0  1.0  160.0   58.0  28.45
13  0.0  0.0  1.0  162.0   59.0  41.00
14  0.0  0.0  1.0  167.0   62.0  55.00
15  1.0  0.0  0.0  174.0   70.0  47.00
16  1.0  0.0  0.0  193.0   90.0  28.45
17  1.0  0.0  0.0  187.0   80.0  27.00
18  1.0  0.0  0.0  183.0   88.0  28.00
19  1.0  0.0  0.0  159.0   40.0  29.00
20  1.0  0.0  0.0  164.0   66.0  32.00
21  1.0  0.0  0.0  166.0   56.0  42.00

In [453]:
s2 = pd.concat([s, sonuc3], axis=1)

In [454]:
s2

     fr   tr   us    boy   kilo    yas  cinsiyet
0   0.0  1.0  0.0  130.0   30.0  10.00         0
1   0.0  1.0  0.0  125.0   36.0  11.00         0
2   0.0  1.0  0.0  135.0   34.0  10.00         1
3   0.0  1.0  0.0  133.0   30.0   9.00         1
4   0.0  1.0  0.0  129.0   38.0  12.00         0
5   0.0  1.0  0.0  180.0   90.0  30.00         0
6   0.0  1.0  0.0  190.0   80.0  25.00         0
7   0.0  1.0  0.0  175.0   90.0  35.00         0
8   0.0  1.0  0.0  177.0   60.0  22.00         1
9   0.0  0.0  1.0  185.0  105.0  33.00         0
10  0.0  0.0  1.0  165.0   55.0  27.00         1
11  0.0  0.0  1.0  155.0   50.0  44.00         1
12  0.0  0.0  1.0  160.0   58.0  28.45         1
13  0.0  0.0  1.0  162.0   59.0  41.00         1
14  0.0  0.0  1.0  167.0   62.0  55.00         1
15  1.0  0.0  0.0  174.0   70.0  47.00         0
16  1.0  0.0  0.0  193.0   90.0  28.45         0
17  1.0  0.0  0.0  187.0   80.0  27.00         0
18  1.0  0.0  0.0  183.0   88.0  28.00         0
19  1.0  0.0  0.0  159.0   40.0  29.00         1
20  1.0  0.0  0.0  164.0   66.0  32.00         1
21  1.0  0.0  0.0  166.0   56.0  42.00         1

In [478]:
from sklearn.model_selection import train_test_split

In [479]:
X_train, X_test, y_train, y_test = train_test_split(s,sonuc3, test_size=0.33, random_state=0)

In [480]:
X_train

     fr   tr   us    boy   kilo    yas
8   0.0  1.0  0.0  177.0   60.0  22.00
6   0.0  1.0  0.0  190.0   80.0  25.00
16  1.0  0.0  0.0  193.0   90.0  28.45
4   0.0  1.0  0.0  129.0   38.0  12.00
2   0.0  1.0  0.0  135.0   34.0  10.00
5   0.0  1.0  0.0  180.0   90.0  30.00
17  1.0  0.0  0.0  187.0   80.0  27.00
9   0.0  0.0  1.0  185.0  105.0  33.00
7   0.0  1.0  0.0  175.0   90.0  35.00
18  1.0  0.0  0.0  183.0   88.0  28.00
3   0.0  1.0  0.0  133.0   30.0   9.00
0   0.0  1.0  0.0  130.0   30.0  10.00
15  1.0  0.0  0.0  174.0   70.0  47.00
12  0.0  0.0  1.0  160.0   58.0  28.45

In [483]:
from sklearn.preprocessing import StandardScaler

In [484]:
sc = StandardScaler()

In [485]:
#X_train = sc.fit_transform(X_train)
#X_test = sc.fit_transform(X_test)

## prediction

In [486]:
#dataa = pd.read_csv("satislar.csv")

In [487]:
#dataa.head(10)

In [488]:
#X = dataa[["Aylar"]].values
#y = dataa[["Satislar"]].values

In [489]:
#X

In [490]:
#from sklearn.model_selection import train_test_split

In [491]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

In [492]:
#from sklearn.preprocessing import StandardScaler

In [493]:
#ss = StandardScaler()

In [494]:
#X_train = ss.fit_transform(X_train)
#X_test = ss.fit_transform(X_test)
#y_train = ss.fit_transform(y_train)
#y_test = ss.fit_transform(y_test)

In [495]:
# X_train

In [496]:
#X_test

### without scaling we can keep going from here

In [497]:
from sklearn.linear_model import LinearRegression

In [498]:
lr = LinearRegression()

In [499]:
lr.fit(X_train,y_train)

LinearRegression()

In [500]:
ypred = lr.predict(X_test)

In [501]:
ypred

array([[0.00709994],
       [1.11449329],
       [0.90701128],
       [0.90413954],
       [0.27749954],
       [0.33069147],
       [1.00334825],
       [0.66307235]])

In [502]:
y_test

    cinsiyet
20         1
10         1
14         1
13         1
1          0
21         1
11         1
19         1

In [503]:
s2

     fr   tr   us    boy   kilo    yas  cinsiyet
0   0.0  1.0  0.0  130.0   30.0  10.00         0
1   0.0  1.0  0.0  125.0   36.0  11.00         0
2   0.0  1.0  0.0  135.0   34.0  10.00         1
3   0.0  1.0  0.0  133.0   30.0   9.00         1
4   0.0  1.0  0.0  129.0   38.0  12.00         0
5   0.0  1.0  0.0  180.0   90.0  30.00         0
6   0.0  1.0  0.0  190.0   80.0  25.00         0
7   0.0  1.0  0.0  175.0   90.0  35.00         0
8   0.0  1.0  0.0  177.0   60.0  22.00         1
9   0.0  0.0  1.0  185.0  105.0  33.00         0
10  0.0  0.0  1.0  165.0   55.0  27.00         1
11  0.0  0.0  1.0  155.0   50.0  44.00         1
12  0.0  0.0  1.0  160.0   58.0  28.45         1
13  0.0  0.0  1.0  162.0   59.0  41.00         1
14  0.0  0.0  1.0  167.0   62.0  55.00         1
15  1.0  0.0  0.0  174.0   70.0  47.00         0
16  1.0  0.0  0.0  193.0   90.0  28.45         0
17  1.0  0.0  0.0  187.0   80.0  27.00         0
18  1.0  0.0  0.0  183.0   88.0  28.00         0
19  1.0  0.0  0.0  159.0   40.0  29.00         1
20  1.0  0.0  0.0  164.0   66.0  32.00         1
21  1.0  0.0  0.0  166.0   56.0  42.00         1

In [504]:
s

     fr   tr   us    boy   kilo    yas
0   0.0  1.0  0.0  130.0   30.0  10.00
1   0.0  1.0  0.0  125.0   36.0  11.00
2   0.0  1.0  0.0  135.0   34.0  10.00
3   0.0  1.0  0.0  133.0   30.0   9.00
4   0.0  1.0  0.0  129.0   38.0  12.00
5   0.0  1.0  0.0  180.0   90.0  30.00
6   0.0  1.0  0.0  190.0   80.0  25.00
7   0.0  1.0  0.0  175.0   90.0  35.00
8   0.0  1.0  0.0  177.0   60.0  22.00
9   0.0  0.0  1.0  185.0  105.0  33.00
10  0.0  0.0  1.0  165.0   55.0  27.00
11  0.0  0.0  1.0  155.0   50.0  44.00
12  0.0  0.0  1.0  160.0   58.0  28.45
13  0.0  0.0  1.0  162.0   59.0  41.00
14  0.0  0.0  1.0  167.0   62.0  55.00
15  1.0  0.0  0.0  174.0   70.0  47.00
16  1.0  0.0  0.0  193.0   90.0  28.45
17  1.0  0.0  0.0  187.0   80.0  27.00
18  1.0  0.0  0.0  183.0   88.0  28.00
19  1.0  0.0  0.0  159.0   40.0  29.00
20  1.0  0.0  0.0  164.0   66.0  32.00
21  1.0  0.0  0.0  166.0   56.0  42.00

In [514]:
boy = s2.iloc[:,3:4].values
sol = s2.iloc[:,:3]
sag = s2.iloc[:,4:]
veri = pd.concat([sol,sag], axis=1)

In [515]:
X_train, X_test, y_train, y_test = train_test_split(veri,boy, test_size=0.33, random_state=0)

In [516]:
X_train

     fr   tr   us   kilo    yas  cinsiyet
8   0.0  1.0  0.0   60.0  22.00         1
6   0.0  1.0  0.0   80.0  25.00         0
16  1.0  0.0  0.0   90.0  28.45         0
4   0.0  1.0  0.0   38.0  12.00         0
2   0.0  1.0  0.0   34.0  10.00         1
5   0.0  1.0  0.0   90.0  30.00         0
17  1.0  0.0  0.0   80.0  27.00         0
9   0.0  0.0  1.0  105.0  33.00         0
7   0.0  1.0  0.0   90.0  35.00         0
18  1.0  0.0  0.0   88.0  28.00         0
3   0.0  1.0  0.0   30.0   9.00         1
0   0.0  1.0  0.0   30.0  10.00         0
15  1.0  0.0  0.0   70.0  47.00         0
12  0.0  0.0  1.0   58.0  28.45         1

In [517]:
r2 = LinearRegression()
r2.fit(X_train, y_train)

LinearRegression()

In [519]:
ypred = r2.predict(X_test)

In [520]:
ypred

array([[182.25496542],
       [153.60175918],
       [163.03243328],
       [158.79170543],
       [130.88751593],
       [173.75783348],
       [150.54725552],
       [157.27677179]])

In [521]:
y_test

array([[164.],
       [165.],
       [167.],
       [162.],
       [125.],
       [166.],
       [155.],
       [159.]])